@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* background image info, temp hardcode in an img url, and position center canter (x & y axis), size cover. */
    /* background-image: url('https://images.unsplash.com/photo-1578660417802-73249eca1550?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHZhbmFnb258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60'); */
    background-position: center center;
    background-size: cover;
    transition: 0.4s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}

.slider-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}
.slide.active {
    opacity: 1;
}

/* Arrow button style and centering */
.arrow {
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: 1px solid lightblue;
    top: 50%; /* moves element to middle, but is aligned on the top of the element */
    transform: translateY(-50%); /* moves the y-axis point used to center element, to the center of said element */
    transition: 0.4s ease;
}
.arrow:focus {
    outline: 2px solid transparent;
    background-color: lightblue;
}

/* Arrow button horizontal positioning */
.left-arrow {
    left: calc(15vw - 65px);
}
.right-arrow {
    right: calc(15vw - 65px);
}