@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

div {
    position: absolute;
    bottom: 20px;
    background: rgba(0,0,0,.1);
    padding: 10px 20px;
    font-size: 1.1rem;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 1.1rem;
    background-color: lightpink;
    border: transparent;
    text-align: center;
}
input:focus {
    outline: 4px solid transparent;
}